#textdomain wesnoth-Era_Emirate
[unit_type]
	id=saracen_stalwart
	name= _ "Saracen Stalwart"
	race=emirate
	image="units/emirate/saracen_stalwart.png"
	ellipse="misc/ellipse"
	{MAGENTA_IS_THE_TEAM_COLOR}
	hitpoints=70
	movement_type=EEM_emiratearmoredfoot
	movement=5
	experience=150
	level=3
	alignment=lawful
	advances_to=null
	{AMLA_DEFAULT}
	cost=58
	usage=fighter
	undead_variation=mounted
	description= _ "This heavy armoured unit is a spear lance wielding saracen stalwart."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}
	die_sound={SOUND_LIST:ELF_HIT}
	{DEFENSE_ANIM "units/emirate/saracen_stalwart.png" "units/emirate/saracen_stalwart.png" {SOUND_LIST:ELF_HIT} }
	[attack]
		name=spear
		description=_"spear"
		icon=attacks/spear.png
		type=pierce
		range=melee
		damage=14
		number=3
		[specials]
			{WEAPON_SPECIAL_FIRSTSTRIKE}
		[/specials]
	[/attack]

	[attack_anim]
		[filter_attack]
			name=spear
		[/filter_attack]
		[if]
			hits=yes
			[frame]
				begin=-150
				end=0
				sound=spear.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				begin=-150
				end=0
				sound=spear-miss.ogg
			[/frame]
		[/else]
		[frame]
			begin=0
			end=200
		[/frame]
	[/attack_anim]
[/unit_type]
